.coloresTexto {
    /* Text-warning */
    color: #000; 
    /* Text-danger */
    color: #23a32b;

    color: #1DA2A8;
}
.coloresFondo{
    /* bg-dark  */
    background-color:  #AA3939 ;
    
    background-color:  #911E5F  ;
    background-color:  #AA6C39  ;
}